{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static "users/login-registration.css" %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
{% endblock  %}

{% block content %}
<div class="container">
  <div class="wrapper">
    <div class="title"><span>Login</span></div>
    <form method="POST" action="{% url "users:login" %}">
      {% csrf_token %}
    
        <div class="row">
            <i class="fas fa-user"></i>
            <input name="username" id="id_username" type="text" placeholder="Username" required>

        </div>

        <div class="row">
            <i class="fas fa-lock"></i>
            <input name="password" id="id_password" type="password" placeholder="Password" required>

        </div>

        <div class="pass"><a href="#">Forgot password?</a></div>
        <div class="row button">
            <input type="submit" value="Login">
        </div>

      <div class="signup-link">Haven't acc? <a href="{% url "users:registration" %}">Signup now</a></div>
    </form>
  </div>
</div>
{% endblock  %}
{% block scripts %}
<script src="{% static "jquery-3.7.0.min.js" %}"></script>
{% endblock  %}
