{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
      <div class="col-md-8">
        <h2>Посты</h2>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Заголовок поста</h5>
            <p class="card-text">{{content|truncatewords:35}}</p>
            <a href="#" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
        <!-- Добавьте другие посты здесь -->
      </div>
      <div class="col-md-4">
        <h2>Боковая панель</h2>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Заголовок блока</h5>
            <p class="card-text">Содержимое блока. Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
          </div>
        </div>
        <!-- Добавьте другие блоки здесь -->
      </div>
    </div>
  </div>
{% endblock content %}