{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная страница</title>
  <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style='margin: 10px;' href="/">Главная</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto" style='margin: 10px;'>
        {% if not request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url "users:login" %}">Авторизоваться</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url "users:profile" %}">Профиль</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "users:logout" %}">Выйти</a>
        </li>
        {% endif %}
        
      </ul>
    </div>
  </nav>
  {% include "includes/notifications.html" %}

  <div class="container mt-5">
    <div class="row">
      <div class="col-10">
        <h1>Добро пожаловать на главную страницу!</h1>
        <p>На этом сайте вы можете создавать посты и читать чужие!</p>
      </div>
    </div>
  </div>
  <script src="{% static "jquery-3.7.0.min.js" %}"></script>
  <script src="{% static "script.js" %}"></script>
  <script src="{% static "bootstrap.bundle.min.js" %}"></script>

</body>
</html>